#A{width: 750px;
box-shadow: 10px 10px 10px black;
}
#B{
    font-family: 'Rubik Bubbles', cursive;
    color: aliceblue;
}
#one{
    background: linear-gradient(rgb(71, 6, 235) 20%,rgb(0, 0, 0) 80%);
    margin-top: 10px;
}
#C{
    font-family: 'Open Sans', sans-serif;
    color: aliceblue;}

#E{ 
    font-family: 'Open Sans', sans-serif;
    color: aliceblue;}
#D{
background: linear-gradient(rgb(71, 6, 235) 20%,rgb(0, 0, 0) 80%);}
#F{
    background: linear-gradient(rgb(71, 6, 235) 20%,rgb(0, 0, 0) 80%);}
    #G{ 
        font-family: 'Open Sans', sans-serif;
        color: aliceblue;}
#H{ 
 font-family: 'Open Sans', sans-serif;
color: aliceblue;}
#I{ 
    font-family: 'Open Sans', sans-serif;
   color: aliceblue;}
   #J{ 
    font-family: 'Open Sans', sans-serif;
   color: aliceblue;}
   #K{ 
    font-family: 'Open Sans', sans-serif;
   color: aliceblue;}
#L{ 
font-family: 'Open Sans', sans-serif;
color: aliceblue;}
#M{ 
    font-family: 'Open Sans', sans-serif;
    color: aliceblue;}
    #N{
        background: linear-gradient(rgb(71, 6, 235) 20%,rgb(0, 0, 0) 80%);}
        
    #Ñ{ 
    font-family: 'Open Sans', sans-serif;
    color: aliceblue;}
#O{
    background: linear-gradient(rgb(71, 6, 235) 20%,rgb(0, 0, 0) 80%);}
 #P{ 
        font-family: 'Open Sans', sans-serif;
        color: aliceblue;}
#Q{width: 500px;}

#R{ 
    font-family: 'Open Sans', sans-serif;
    color: aliceblue;}
#S{ 
        font-family: 'Open Sans', sans-serif;
        color: aliceblue;}


#T{width: 500px;}



        #U{ 
            font-family: 'Open Sans', sans-serif;
            color: aliceblue;}

            #V{ 
                font-family: 'Open Sans', sans-serif;
                color: aliceblue;}
        
        
        #W{width: 500px;}
        
        
        
                #X{ 
                    font-family: 'Open Sans', sans-serif;
                    color: aliceblue;}
#Y{
    background: linear-gradient(rgb(71, 6, 235) 20%,rgb(0, 0, 0) 80%);}

    #CC{ 
        font-family: 'Open Sans', sans-serif;
        color: aliceblue;}


#BB{width: 500px;}



        #AA{ 
            font-family: 'Open Sans', sans-serif;
            color: aliceblue;}
#Z{
background: linear-gradient(rgb(71, 6, 235) 20%,rgb(0, 0, 0) 80%);}
#GG{ 
    font-family: 'Open Sans', sans-serif;
    color: aliceblue;}


#FF{width: 500px;}



    #EE{ 
        font-family: 'Open Sans', sans-serif;
        color: aliceblue;}
#DD{
background: linear-gradient(rgb(71, 6, 235) 20%,rgb(0, 0, 0) 80%);}
                     
#HH{
    background: linear-gradient(rgb(71, 6, 235) 20%,rgb(0, 0, 0) 80%);}    
#II{ 
        font-family: 'Open Sans', sans-serif;
        color: aliceblue;}    
#JJ{ 
            font-family: 'Open Sans', sans-serif;
            color: aliceblue;}    
#KK{ 
font-family: 'Open Sans', sans-serif; color: aliceblue;}    
#LL{
    background: linear-gradient(rgb(71, 6, 235) 20%,rgb(0, 0, 0) 80%);} 
#ZZ{
    background: linear-gradient(rgb(3, 0, 8) 20%,rgb(0, 0, 0) 80%);
     list-style:none ; 
     color: crimson; position: fixed; cursor: pointer;
      margin-top: -10px; width: 100%;} 
#AAA{
    font-family: 'Open Sans', sans-serif; color: aliceblue;
    font-size: 25px;
display: inline;
padding-left: 4px;
padding-right: 4px;}




            

